header {
    background-color: blue;
  }
  
  #structural_markup {
    background-color: orange;
  }
  
  #semantic_markup {
    background-color: violet;
  }
  
  footer {
    background-color: red;
  }